*.gdx
*.lst
_gams*
*.~gm
~*
*.pyc
*.dat
225*/
*.toc
*.gz
*.xml
*.out
*.log
*.fls
*.fdb_latexmk
*.blg
*.bcf
*.bbl
*.aux
*.ipynb
documentation/_minted-main/
tva_data.py
*.file
data/
julia/results/
julia/data/
bokeh/data/
bokeh/market_result/
bokeh/gridfiles/
__pycache__
.cache